.certificates{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.certificationCard{
    width: 43rem;
    height:25rem;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 0.25rem 0.25rem 0.5rem #cbcbcb, -0.25rem -0.25rem 0.5rem #ffffff;
    display: flex;
    gap: 0.8rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
}

.certificationImage{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34rem;
    height: 23rem;
}

.certificationImage img{
    width: inherit;
}

.certificatesBtn_shadow{
    margin-top: 1.4rem;
    padding: 18px 25px;
    border-radius: 6px;
    font-size: 1.8rem;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
    font-size: 2.4rem;
}

.certificatesBtn_shadow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 0.25rem 0.25rem 0.5rem #cbcbcb, -0.25rem -0.25rem 0.5rem #ffffff;
}

.certificatesBtn_shadow:hover{
    color: #ff014f;
}

/*================== media queries ===================================*/
@media (min-width: 319px) {

}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .certificates{
        padding: 0 3rem;
    }

    .headingContainer h2{
        font-size:3rem ;
    }

}

@media (min-width: 1200px) {
    .certificates{
        padding: 0 3rem;
    }

    .headingContainer h2{
        font-size:3rem ;
    }

}

@media (min-width: 1400px) {
    .certificates{
        padding: 0 15rem;
    }

    .certificationCard{
        width: 42rem;
    }

}


@media (max-width: 575.98px) {
    .certificates{
        padding:0;
    }

    .headingContainer h2{
        font-size:3rem ;
    }

    .certificationCard{
        width: 100%;
    }

    .certificationCard .certificationImage{
        width: 100%;
    }

    .certificationCard .certificationImage img{
        width: 100%;
        height: 24rem;
    }

    .certificatesBtn_shadow{
        font-size: 1.4rem;
    }

}


@media (max-width: 767.98px) {
    .certificates{
        padding:0;
    }

    .headingContainer h2{
        font-size:3rem ;
    }


}

@media (max-width: 991.98px) {
    .certificates{
        padding:0 3rem;
    }
    .headingContainer h2{
        font-size:3rem ;
    }


}


@media (max-width: 1199.98px) {

}


@media (max-width: 1399.98px) {

}


@media (min-width: 768px) and (max-width: 1199.98px) {  }
